body {
    font-family: 'Akaya Telivigala', cursive;
    background: #E2E8DD;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

body 
{
    font-size:14px;
    line-height: 1.42857143;
    color:#333;
    background-color:#fff;
}